@import '~ant-design-vue/dist/antd.less';

// Ant Colors & Styles can be overwritten here. Just use the variable names from 
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// -------- Colors -----------
@primary-color: @geek-blue;
@icon-color: inherit;

// Base Scaffolding Variables
@body-background: @geek-blue-1;
@component-background: @geek-blue-1;
@font-family: Lora, Georgia, serif;

// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;

// LINK
@link-color: @daybreak-blue-6;

// Layout
@layout-body-background: @geek-blue-1;
@layout-footer-background: @primary-color;
@layout-footer-padding: 24px 0;
@layout-header-background: @geek-blue-1;
@layout-header-height: 65px + 50px;
@layout-header-padding: 25px 0;

// Buttons
@btn-font-weight: 700;
@btn-primary-color: #fff;
@btn-primary-bg: @daybreak-blue-8;
@btn-default-color: @daybreak-blue-9;
@btn-default-border: @daybreak-blue-9;

@btn-padding-base: 8px @padding-lg - 1px;
@btn-padding-lg: @btn-padding-base;
@btn-padding-sm: 8px @padding-sm - 1px;

@btn-height-base: 38px;
@btn-height-lg: 46px;
@btn-height-sm: 30px;


// Menu
// ---
@menu-item-color: @daybreak-blue-9;
@menu-highlight-color: @daybreak-blue-9;


// Form
// ---
@label-required-color: @highlight-color;
@label-color: @heading-color;
@form-warning-input-bg: @input-bg;
@form-item-margin-bottom: 24px;
@form-item-trailing-colon: true;
@form-vertical-label-padding: 0 0 8px;
@form-vertical-label-margin: 0;
@form-item-label-font-size: @font-size-base;
@form-item-label-height: @input-height-base;
@form-item-label-colon-margin-right: 8px;
@form-item-label-colon-margin-left: 2px;
@form-error-input-bg: @input-bg;

// Input
// ---
@input-height-base: @height-base;
@input-height-lg: @height-lg;
@input-height-sm: @height-sm;

.ant-btn-sm {
    line-height: 1;
}